.footer {
  background-color: $color-grey-dark-2;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $color-grey-light;

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__logo {
    height: 15rem;
    width: auto;
  }

  &__navigation {
    border-top: 2px solid $color-grey-dark;
    display: inline-block;
    padding-top: 2rem;
  }

  &__list {
    list-style: none;

    &-item {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-light;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      background-color: $color-grey-dark-2;
    }
    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: $btn-active-shadow;
      transform: scale(1.3) rotate(5deg);
    }

  }

  &__copyright {
    border-top: 2px solid $color-grey-dark;
    width: 80%;
    float: right;
    padding-top: 2rem;
    @include respond(tab-port){
      float: none;
      width: 100%;
    }
  }
}
