.section-about {
  background-color: $color-grey-light;
  padding: 30rem 3rem 45rem 3rem;
  margin-top: -20vh;
}
.section-features {
  padding: 20rem 3rem;
  background-image:
          linear-gradient(to right bottom, rgba($color-primary-light, 0.9), rgba($color-primary-dark, 0.9)),
          url(../../images/bg2.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -20vh;

  & > * {
    transform: skewY(7deg);
  }
}

.section-packages {
  background-color: $color-grey-light;
  padding: 30rem 3rem 10rem 3rem;
  margin-top: -12vh;
  text-align: center;
}

.section-stories {
  padding: 8rem 3rem 8rem 3rem;
  position: relative;
  &__footer {
    text-align: center;
  }
}

.section-book {
  padding: 15rem 3rem 15rem 3rem;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

